@import "../vendor/css/bootstrap.css";
@import "../vendor/css/fonts.css";
@import "../vendor/remix/fonts/remixicon.css";

body {
    background-color: #e5e5e5;
    font-family: "rubik", sans-serif;
    color: #1b1e21;
    min-height: 100vh;
}
a,a:hover{text-decoration: none !important;}
input:focus{
    box-shadow: none !important;
    outline: #1b1e21 !important;
}

.hide{
    opacity: 0;
    transition: 400ms ease-in-out ;
    visibility: collapse;
}

.notification-status{
    top: 20px;
    right: 10px;
    transition: 300ms linear;
    transform: translateX(100px);
    visibility: collapse;
}
.notification-status.active{
    transition-delay: 0.5s;
    transform: translateX(0);
    visibility: visible;
}

.container {
    max-width: 600px;
}

.user .avatar, .friend-list .image {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.default_pics{
    height: 100%;
    width: 100%;
    background: rebeccapurple;
    border-radius: 50%;
    color: #fff;
    font-size: 1.5em;
}

.user .avatar img, .friend-list .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.user .name {
    text-overflow: ellipsis;
    max-width: 300px;
    overflow: hidden;
}

.activity, .friend-list .status {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    z-index: 20;
    bottom: 0;
    right: 7px;
}
.active{
    background-color: #3af13a;
}
.offline{
    background-color: #c4c4c4;
}

.friend-list {
    max-height: 20rem;
    overflow: hidden;
    overflow-y: auto;
}

.friend-list::-webkit-scrollbar, .chat-body .message-container::-webkit-scrollbar {
    width: 0;
}

.friend-list .list-group-item {
    position: relative;
    border: none;
    cursor: pointer;
    transition: 100ms ease-in-out;
}

.friend-list .list-group-item:hover {
    background-color: #e5e5e520;
}

.friend-list .image, .chat-panel .panel-heading .avatar {
    height: unset;
    width: unset;
    overflow: visible
}

.friend-list .image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.friend-list .message p {
    height: 100%;
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.friend-list .status {
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.chat-panel{
    position: relative;
    background: #efeeee;
    min-height: 35em;
}

.chat-panel .panel-heading {
    box-shadow: inset 0 -6px 2px rgba(0, 0, 0, 0.05);
}

.chat-panel .panel-heading img {
    width: 40px;
    height: 40px;
}

.message-body {
    background: #efeeee;
    min-height: 120px;
    overflow-y: auto;
    padding: 1.5rem 1rem;
    border-radius: 3px;
}

.chat-field{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 1rem;
}

.chat-body .message-container {
    max-height: 23em;
    overflow-y: auto;
    padding-bottom: 2rem;
}

.chat-body .sender {
    float: right;
    clear: right;
    max-width: 400px;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    padding-bottom: 0.2rem;
    border-radius: 10px 20px 0 10px;
    background-color: #005cbf;
    box-shadow: 0 4px 12px #005cbf15;
    color: #ffffff;
    font-size: 14px;
}

.chat-body .receiver {
    max-width: 500px;
    width:100%;
    padding: 0.5rem 1rem;
    font-size: 14px;

}

.chat-body img {
    max-width: 300px;
}

.chat-body .receiver .description {
    background-color: #ffffff;
    border-radius: 20px 10px 10px 0;
    box-shadow: 0 4px 12px #fafafa20;
    clear: right;
    color: #4e555b;
    padding: 0.5rem 1rem;
    margin-left: 20px;
}

.chat-body .receiver .image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.chat-body .chat-field textarea {
    resize: none;
    height: 45px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 0.6rem;
    outline: none;
    box-shadow: none;
}
.chat-body .typing{
   background-color: transparent;
    box-shadow: none;
    color: #4e555b;
}

.chat-body .chat-field textarea::-webkit-scrollbar{
    width: 3px;
}

/*====Dropdown menu*/
.dropdown-menu{
    transform: translate(-132px,10px);
}
.dropdown-menu .dropdown-item{font-size: 0.876em;}